---
import BaseHead from "../components/BaseHead.astro";


import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { loadMarkdowns } from "../../load-md";

const markdowns = await loadMarkdowns({
  source: import.meta.env.MARKDOWN_SOURCE || "local",
  localPath: import.meta.env.LOCAL_MARKDOWN_PATH,
  githubRepoUrl: import.meta.env.REPO_URL || "",
  githubToken: import.meta.env.PAT,
});

const featuredMarkdowns = markdowns.slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="dark:bg-gray-900 dark:text-white">
    <main class="container mx-auto">
      <section>
        {
          featuredMarkdowns.map((markdown) => (
            <div>
              <h2>{markdown.frontmatter?.title}</h2>
              <p>{markdown.frontmatter?.description}</p>
              <a href={`/blog/content/${markdown.slug}`}>Ler mais</a>
            </div>
          ))
        }
      </section>
    </main>
  </body>
</html>
