---
import BaseHead from "../../components/BaseHead.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { loadMarkdowns } from "../../../load-md";

const markdowns = await loadMarkdowns({
  source: import.meta.env.MARKDOWN_SOURCE || "local",
  localPath: import.meta.env.LOCAL_MARKDOWN_PATH,
  githubRepoUrl: import.meta.env.REPO_URL || "",
  githubToken: import.meta.env.PAT,
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="dark:bg-gray-900 dark:text-white">
    <main class="container m-4">
      <section>
        <ul>
          {
            markdowns.map((markdown) => (
              <li>
                <a href={`/blog/content/${markdown.slug}/`}>
                  {markdown.frontmatter?.heroImage && (
                    <img
                      width={720}
                      height={360}
                      src={markdown.frontmatter?.heroImage}
                      alt={markdown.frontmatter?.title}
                    />
                  )}
                  <h4 class="title">{markdown.frontmatter?.title}</h4>
                  <p class="date">
                    <time>{markdown.frontmatter?.date}</time>
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
